.prc-attachments-list {
	&__image-wrapper {
		border: 1px solid;
		border-color: transparent;
		padding: 3px !important;
		margin-block-end: 1.5em;
		&:hover {
			opacity: 1;
			border-color: var(--wp-admin-theme-color, #000);
		}
	}
	&__image {
		background-color: white !important;
		border: 1px solid;
		border-color: transparent;
		cursor: pointer;
		max-width: 100%;
		&--in-use {
			opacity: 0.5;
		}
	}
}

.prc-attachments-tabs {
	.active-tab {
		background: var(--wp-admin-theme-color);
		color: white;
	}
}
